@charset "UTF-8";

* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    background-image: linear-gradient(to right, #04BF9D, #03A696, #253659);
}

main {
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #05534681;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #F27457;
    text-align: center;
    text-shadow: 1px 1px 0px #F27457;
}

h2 {
    color: #04BF9D;
}

p {
    text-align: justify;
}